.main--about, .main--interests {
  text-align: left;
  margin-top: 20px;
}

.App {
  height: 780px;
  width: 317px;
  background-color: #1A1B21; /* Adjust color to match design */
  padding: 20px;
  text-align: center;
  font-family: Inter, sans-serif;
  color: white;
}

.title--box {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.title--name {
  margin-top: 0;
  font-size: 25px;
  margin-bottom: 0;
}

.title--position{
  font-size: 12.5px;
  margin-top: 1.5px;
  margin-bottom:1.5px;
  color: #F3BF99;
  font-weight: normal;
}

.website-link {
  font-size: 10.24px;
  text-decoration: none;
  color: white;
}

:root{
  background-color: #23252C;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.social-links a {
  text-decoration: none; /* Removes underline from links */
  display: inline-block; /* Allows width and height to be set */
  padding: 10px 20px; /* Adds space around the text */
  margin: 5px; /* Adds margin around the links */
  color: white; /* Sets the text color */
  background-color: #5093E2; /* Sets background color, for LinkedIn use its brand color */
  border-radius: 5px;
  font-size: 12,5px;
}

.social-links .email-button {
  background-color: #D1D5DB; /* Green background for email, or choose another color */
  color: black;
}

.social-links a:hover {
  opacity: 0.8; /* Optional: Changes link opacity on hover for a visual effect */
}

.profile-image-box {
  width: 317px;
  height:317px;
  overflow: hidden;
  position: relative;
}

.profile-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p {
  font-size: 10.24px;
}